body{
    padding:16px;
}
.box{
    background-color: royalblue;
    width:300px;
    height:300px;
    margin:32px auto;
    /* transform: rotate(0.9turn); */
    /* transform: rotate(45deg); */

}
.box:hover{
    /* transform:scale(0.5,0.5); */
    /* transform:translate(0,50px); */
    /* transform:skew(10deg,21deg); */
    transform:scale(0.5) translateX(350px);
}