.box{
    height:400px;
    width:400px;
    background-color: coral;
    padding:16px;
    border:2px solid;
    
}
#child{
    box-sizing:border-box;
    height:100%;
    width:100%;
    background-color:blue;
    position:relative;
}
/* pseudo elements */
p::after{
    content:"👌😍👍";
    border:2px solid red;
    color:aquamarine;
}
/* p{
    position:relative;
    left:80px;
    right:80px;
    top: 150px;
} */
strong {
    position:relative;
    bottom:10px;
}
#child p{
    position:absolute;
    /* right:0; */
    /* top:0; */
    left:0;
    bottom:0;
}