/* types:print,screen,all */
body{
    font-size:1.5rem;
}
@media print{
    body{
        background-color: gray;
        
    }
    h1{
        color:white
    }
}
@media screen and (orientation:portrait){
    body::after {
        content:'portrait';
        font-size: 4rem;
    }
}
@media screen and (orientation:landscape){
    body::after{
        content:"landscape";
        font-size:3rem;
    }
}
/* we can target different screen sizes */
/* if we don't specify anything it targettes all */
@media (max-width:500px) and (orientation:landscape){
    body{
        background-color: lightgreen;
    }
}
@media (min-width:800px){
    body{
        background-color: royalblue;
    }
}