body{
    padding:16px;
}
.box{
    background-color: royalblue;
    width:300px;
    height:300px;
    margin:32px auto;
    transition:transform 0.7s 0.2s ease-in-out, 
    width 0.7s 0.2s ease-in;
    /* transition-property: transform;
    transition-duration: 0.7s;
    transition-delay: 0.2s;
    transition-timing-function:ease-in-out; */
}
.box:hover{
    transform:scale(1.2);
    width:600px;
}